openapi: 3.0.0

info:
  title: My QR
  description: | 
    My QR project is make QR code using your input image or gif.

    You can test My QR in open api or **[Web Server](https://master-qrcode-woomurf.endpoint.ainize.ai)**.
    
    ---
    
      How to use:
      * Enter the URL you want to open with QR code.
      * Set Contrast and Brightness.
      * Choose the one between color(True) or monochrome(False) for your QR code.
      * Add an image you want to combine with QR code.

  version: 2.3.1
  license: 
    name: "GPL-3.0 License"

servers:
  - url: https://myqr-woomurf.endpoint.ainize.ai/
  
paths:
  /create-qr-code:
    post:
      requestBody:
        required: true
        description: | 
            Enter the URL and image you want. 
            Choose contrast, brightness and color that is option for QR code image. 
            
            [sample Image](https://raw.githubusercontent.com/woomurf/qrcode/master/example/sample.gif)
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                url:
                  type: string
                image:
                  type: string
                  format: binary
                contrast:
                  type: integer
                  default: 1.0
                brightness:
                  type: integer
                  default: 1.0
                color:
                  type: boolean
                  default: true
              required:
                - url
      
      responses:
        '200':
          description: success
          content:
            images/*:
              schema:
                type: string
                format: binary
        '400':
          description: Bad Request
        
        '429':
          description: Too Many Requests
        
        '500':
          description: Server side error