openapi: 3.0.0

info:
  title: My QR
  description: | 
    My QR project is make QR code using your input image or gif.

    You can test My QR in API or **[Web Server](https://myqr-woomurf.endpoint.ainize.ai/)**.
    
    ---
    
      How to use:
      * Input your url.
      * Input QR code image or gif.
      * Execute and wait little time.

  version: 2.3.1
  license: 
    name: "GPL-3.0 License"

servers:
  - url: https://myqr-woomurf.endpoint.ainize.ai/
  
paths:
  /create-qr-code:
    post:
      requestBody:
        required: true
        description: | 
            Input url and Image. You can get QR code that combined your image and url.

            contrast / brightness / color is option for result QR code. 
            
            [sample Image](https://raw.githubusercontent.com/woomurf/qrcode/master/example/sample.gif)
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                url:
                  type: string
                image:
                  type: string
                  format: binary
                contrast:
                  type: integer
                  default: 1.0
                brightness:
                  type: integer
                  default: 1.0
                color:
                  type: boolean
                  default: true
              required:
                - url
      
      responses:
        '200':
          description: success
          content:
            images/*:
              schema:
                type: string
                format: binary
        '400':
          description: Bad Request
        
        '429':
          description: Too Many Requests
        
        '500':
          description: Server side error