<HTML>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        
        <style>
            #loader {
                z-index: 1;
                width: 40px;
                height: 40px;
                /* margin: 30px 0px 0px 50px; */
                border-top:20px;
                border: 6px solid #f3f3f3;
                border-radius: 50%;
                border-top: 6px solid #3498db;
                vertical-align:middle;
                -webkit-animation: spin 3s linear infinite;
                animation: spin 2s linear infinite;
                }

            @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
            }
        </style>

        <!-- Project Title! -->
        <title>My QR</title>
    </head>
    <body>
        <div class = "container">
            <div class="jumbotron mt-3">
                 <!-- Proejct Title -->
                <h1>My QR</h1>
                <!-- Github link and Ainize link -->
                <A>Git Hub repository : </A> <A href="https://github.com/woomurf/qrcode">https://github.com/woomurf/qrcode</A>
                <br>
                <A>Testing API : </A> <A href="https://ainize.ai/woomurf/myqr"> on Ainize </A>
                <br><br>
                <h3>Notice</h3>
                <ul>
                    <li>Time increases about URL length or image size.</li>
                    <li>Image size increases about URL length.</li>
                </ul>
                <hr class="solid">
                
                <!-- If your project have a input files -->
                <h2>Example</h2>
                <div id="example">
                    <img src="https://raw.githubusercontent.com/woomurf/qrcode/master/example/zootopia_qrcode.gif" width="300px">
                </div>
                <h2>Upload </h2>
                <div id = 'inputImage'>
                    <label> url : </label>
                    <input type = "text" id="url" style="width:40%"></input><br>
                    <label> contrast : </label>
                    <input type = "text" id="contrast" style="width:10%" value="1.0"></input><br>
                    <label> brightness : </label>
                    <input type = "text" id="brightness" style="width:10%" value="1.0"></input><br>
                    <label> color : </label>
                    <input type = "radio" name = "color" value="True" checked="checked"></input>
                    <label> True </label>
                    <input type = "radio" name = "color" value="False"></input>
                    <label> False </label><br>
                    <label for="label1">Image or Gif : </label>
                    <input type = 'file' id = 'input1' style="margin-right: 10px; margin-bottom: 10px;">
                    <button id = "submit" type='submit' class="btn btn-primary btn-lg" style="margin-left: auto;"> submit </button>
                    <div id = "loader" style="display: none;"></div><br>
                </div>
                
                <!-- Result Box -->
                <div id ='resultBox' style="margin-left: auto; margin-right: auto;">
                    <p id="statusbox"></p>
                    <img id='resultImage' src="" alt="">
                </div>

                <!-- onclick function if you want you can delete this -->
                <script>
                    document.getElementById("submit").onclick = () => {
                        waiting();
                        var url = document.getElementById("url").value;
                        var imagefile = document.getElementById("input1").files[0]
                        var contrast = document.getElementById("contrast").value;
                        var brightness = document.getElementById("brightness").value;
                        var color = $("input:radio[name='color']:checked").val();
                        var statusbox = document.getElementById("statusbox");
                        
                        if(isNumeric(contrast)){
                            contrast = parseFloat(contrast)
                        }
                        else{
                            stopWaiting();
                            statusbox.innerHTML = "Please input correct contrast value.";
                            return null;
                        }

                        if(isNumeric(brightness)){
                            brightness = parseFloat(brightness)
                        }
                        else{
                            stopWaiting();
                            statusbox.innerHTML = "Please input correct brightness value.";
                            return null;
                        }

                        if(url.length < 1){
                            stopWaiting();
                            statusbox.innerHTML = "Please input url.";
                            return null;
                        }

                        if(color == "True"){
                            color = true;
                        }
                        else{
                            color = false;
                        }


                        
                        var formData = new FormData();
                        formData.append("url", url);
                        formData.append("image", imagefile);
                        formData.append("contrast", contrast);
                        formData.append("brightness", brightness);
                        formData.append("color", color);

                        fetch(
                            "/qr",
                            {
                                method: "POST",
                                body: formData
                            }
                        )
                        .then(response =>{
                            if(response.status == 200){
                                return response
                            }
                            else {
                                response.json().then(msg => statusbox.innerHTML=msg['error'])
                                document.getElementById("resultImage").src = ""
                                throw Error("")
                            }
                        })
                        .then(response => response.blob())
                        .then(blob => URL.createObjectURL(blob))
                        .then(imageURL =>{
                            document.getElementById("resultImage").src = imageURL;
                            statusbox.innerHTML = "";
                            stopWaiting();
                        })
                        .catch(e => {
                            // statusbox.innerHTML = e;
                            stopWaiting();
                        })

                    }

                    function waiting(){
                        var spining = document.getElementById("loader");
                        spining.style.display = 'inline-block';

                    }

                    function stopWaiting(){
                        var spining = document.getElementById("loader");
                        spining.style.display = "none";
                    }

                    function isNumeric(num){
                        num = String(num).replace(/^\s+|\s+$/g, "");
                        var regex = /^[0-9]+(\.[0-9]+)?$/g;

                        if( regex.test(num) ){
                            num = num.replace(/,/g, "");
                            return isNaN(num) ? false : true;
                        }
                        else{ 
                            return false;  
                        }
                    }
                    

                </script>
            </div>
        </div>
    </body>
</HTML>

